@use "../scss/styles/header";
@use "../scss/styles/place-order";
@use "base/variables";
@use "styles/welcome";
@use './base/fonts';
@use 'styles/advantages';
@use 'styles/it-works.scss';
@use 'styles/discount';
@use 'styles/testimonials';
@use 'styles/footer';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}