@font-face {
    font-family: 'Angeline';
    src: url(../fonts/AngelineVintage.woff) format('woff'),
     url(../fonts/AngelineVintage.woff2) format('woff2');
}

@font-face {
    font-family: 'Echoes';
    src: url(../../fonts/EchoesSlabBlack.woff) format('woff'),
     url(../../fonts/EchoesSlabBlack.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/RobotoRegular.woff) format('woff'),
     url(../../fonts/RobotoRegular.woff2) format('woff2');
}

