@use '../base/variables';


.place-order {
  width: 100%;
  height: 630px;
  background-image: url(../img/img-cloud.png);
  background-size: cover;
  background-color: variables.$L3-1;
  background-repeat: repeat-x;
  background-position: 0 0;
  animation: move-bg 80s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.place-order h3,
h4 {
  font-size: 47px;
  letter-spacing: -1px;
  color: variables.$D2-4;
  font-weight: 700;
  font-family: Roboto;
}

.place-order p {
  font-size: 18px;
  line-height: 30px;
  color: #656a70;
  font-weight: 400;
  font-family: Poppins-light;
  margin-bottom: 30px;
}

.place-order h3 {
  color: variables.$L1-1;
}

.progress-wrapper {
  background-color: #e6f7fd;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.progress-track {
  height: 2px;
  background-color: #ccc;
  width: 80%;
  position: relative;
}

.progress-fill {
  height: 4px;
  background-color: #f06529;
  width: 7%;
  position: absolute;
  top: -3px;
  left: 0;
  border-radius: 1px;
}

.place-order-btn {
  width: 220px;
  height: 50px;
  border-radius: 3px;
  background-color: variables.$P2;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto";
  text-align: center;

  &:hover {
    background-color: #d9541f;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.place-order-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: fit-content;
}


.order-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  width: 80%;
  background-color: variables.$L1-1;
  height: 135px;
  top: 85%;

}

.order-menu-main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.order-menu select {
  width: 200px;
  height: 50px;
  border: none;
  font-size: 16px;
  color: #333;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
}

.order-menu-el {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-menu span {
  font-size: 17px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Echoes";
}


.counter {
  display: flex;
  width: fit-content;
  overflow: hidden;
}

.counter button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  color: #444;
  cursor: pointer;
}

.counter button:hover {
  background-color: #e0e0e0;
}

.counter span {
  width: 120px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #444;
}

.order-menu-btn button {
  height: 40px;
  width: 200px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  background-color: variables.$D2-1;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Echoes";
  text-align: center;


  &:hover {
    background-color: #005fa3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    background-color: #004d80;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
  }
}

.place-order-btn{
    margin-bottom: 35px;
}

.order-col1, .order-col2{
  display: flex;
  gap: 30px;
}

@keyframes move-bg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

@media (max-width:1400px){
  .place-order{
    width: 100%;
  }

  .order-menu{
    width: 90%;
    height: 170px;
  }

  .order-col1, .order-col2{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1199px){
  .order-menu-btn button{
    width: 170px;
  }

  .order-menu select{
    width: 170px;
  }

  .counter button{
    width: 25px;
  }


  .place-order-btn {
    width: 180px;
    height: 40px;
  }
}

@media (max-width: 767px){
  .place-order{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .order-menu{
    display: flex;
    flex-direction: column;
    top: 80%;
    width: 90%;
  }

  .order-menu select{
    width: 100px;
    height: 70px;
  }

  .place-order-info{

    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 0;
  }

  .place-order-img img{
    width: 180px;
  }


  .place-order h3, .place-order h4{
    font-size: 20px;
  }

  .place-order p{
    font-size: 10px;
    margin-bottom: 10px;
  }

  .progress-wrapper{
    margin: 0;
    width: 100%;
    height: 2px;
    margin: 15px 0;
  }

  .place-order-btn{
    width: 100px;
    height: 30px;
    font-size: 10px;
  }

  .order-col1, .order-col2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;

  }
  .counter button{
    width: 20px;
    height: 20px;
  }

  .counter span{
    width: 60px;
    height: 20px;
  }
  
  .order-menu-el{
    height: 20px;
    margin: 5px;
  }
  .order-menu label{
    font-size: 3px;
  }

  .counter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-top: 5px;
  }

  .order-menu-btn button{
    width: 150px;
    height: 30px;
    margin-top: 10px;
  }

  .place-order h3{
    margin-top: 20px;
  }

  .order-menu-el{
    margin: 0;
    margin-top: 5px;
  }

}
