@use '../base/variables';
@use '../base/fonts';




.testimonials{
    width: 100%;
    margin-top: 400px;
}

.testi-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.testi-text h2{
    height: 12px;
font-size: 15px;
color: variables.$D2-1;
font-weight: 400;
font-family: "Poppins-light";
}

.testi-text h5{
font-size: 33px;
color: #323538;
font-weight: 500;
font-family: "Poppins";
text-align: center;
}

.testi-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testi-content{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testi-content img{
    width: 50px;
}

.testi-content h4{
font-size: 14px;
line-height: 22px;
color: #51555a;
font-weight: 300;
font-family: "Poppins-light";
text-align: center;
margin-bottom: 30px;
}

.testi-content h5{
font-size: 17px;
color: #0287c3;
font-weight: 600;
font-family: "Poppins-med";
text-align: center;
margin-bottom: 20px;
}

.testi-content p{

font-size: 13px;
color: #a3a6a9;
font-weight: 300;
font-family: "Poppins-light";
text-align: center;
}

.testi-content img{
    margin-bottom: 25px;
}

.testi-arrow-s{
    rotate: 180deg;
    margin-right: 20%;
}

.testi-arrow-e{
    margin-left: 20%;
}

@media (max-width:426px){
    .testimonials{
        margin-top: 600px;
    }
    .testi-arrow-e img, .testi-arrow-s img{
        width: 20px;
        height: 50px;
    }

    .testi-content h4{
        font-size: 12px;
    }

    .testi-content p{
        font-size: 12px;
    }

    .testi-content h5{
        font-size: 15px;
    }
}